<div class="container">
  <div class="date_field">
    <mat-icon fontIcon="menu" (click)="toggleDrawerFn()" class="menuIcon"></mat-icon>
    <input type="date" [(ngModel)]="start" [max]="today" />
    <input type="date" [(ngModel)]="end" [min]="start" [max]="today" />
    <button (click)="getTransactionData()">खोजें</button>
  </div>
  <div class="cls_balance">
    चुनी हुई तारीख तक का बकाया: {{ closingAmount }}
  </div>
  <div class="table">
    @for (transactions of transactionsArr; track $index) {
    <div class="date">
      <div>DATE: {{ transactions.date }}</div>
      <div>DR: {{ transactions.dr }}</div>
      <div>CR: {{ transactions.cr }}</div>
    </div>
    @for (item of transactions.items; track $index) {
    <div class="record">
      <div>{{ item.itemName }}</div>
      <div>{{ item.dr }}</div>
      <div>{{ item.cr }}{{ item.remark }}</div>
    </div>
    } }
  </div>
</div>