<div class="container">
  <div class="close-box">
    <mat-icon fontIcon="close" (click)="toggleDrawerFn()" class="closebtn"></mat-icon>
  </div>
  <hr />
  <div class="content">
    <ul>
      <li>
        NOTIFICATION ENABLED [सूचनाएँ चालू]: {{ hasNotificationPermission ? 'YES' : 'NO' }}
      </li>
      <li>
        <button class="allow-alert-btn" (click)="subscribeToNotifications()">
          Allow Alerts [सूचनाएँ चालू करें]
          <mat-icon fontIcon="notifications_active"></mat-icon>
        </button>
      </li>
    </ul>
    <div>
      <button (click)="logOut()" class="logoutBtn">
        LOGOUT [लॉग आउट] 
        <mat-icon fontIcon="logout"></mat-icon>
      </button>
    </div>
  </div>
</div>
