<div class="container">
  <div class="close-box">
    <mat-icon fontIcon="close" (click)="toggleDrawerFn()" class="closebtn"></mat-icon>
  </div>
  <hr />
  <div class="content">
    <ul>
      <li>
        नाम: {{ userName }}
      </li>
      <li>
        यूजर आईडी: {{ userId }}
      </li>
      <li>
        मंडी मोबाइल - 9826306406
      </li>
      <!-- <li>
        <a href="upi://pay?pa=9826306406@okbizaxis&cu=INR">पैसे भेजें</a>
      </li> -->
      <li>
        NOTIFICATION ENABLED [सूचनाएँ चालू]: {{ hasNotificationPermission ? 'YES' : 'NO' }}
      </li>
      <li>
        <button class="allow-alert-btn" (click)="subscribeToNotifications()">
          Allow Alerts [सूचनाएँ चालू करें]
          <mat-icon fontIcon="notifications_active"></mat-icon>
        </button>
      </li>
    </ul>
    <div>
      <button (click)="openConfirmDialog()" class="logoutBtn">
        LOGOUT [लॉग आउट] 
        <mat-icon fontIcon="logout"></mat-icon>
      </button>
    </div>
  </div>
</div>
