form {
    padding-top: 20vh;
    text-align: center;
}

.row {
    width: 40%;
    margin: 10px auto;        /* Centers the row horizontally */
    text-align: start;        /* Keeps content inside aligned to left */
    display: flex;
    flex-direction: column;
}